asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
Django==4.2.11
django-allauth==0.61.1
django-bootstrap-themes==3.3.6
django-bootstrap-v5==1.0.11
django-stubs==4.2.7
django-stubs-ext==4.2.7
docker==7.0.0
graphqlclient==0.2.4
idna==3.6
oauthlib==3.2.2
packaging==24.0
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
python3-openid==3.2.0
pywin32==306
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.20240311
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
